<h2>A post: </h2>

<h4>{{title}}</h4>

<p>{{body}}</p>

{{!-- <h3>Comments</h3> --}}

{{!-- {{#each comments}}
	{{body}}
{{/each}} --}}
<p>{{#link-to 'comments.new'}} Create a new comment{{/link-to}}</p>

{{outlet}}

